Dockerfile
app/phpunit.xml
build/
node_modules
npm-debug.log
docker/
docker-compose.yml
bin/
!bin/console
composer.phar
.vagrant/
config/*.xml
config/*.ini
var/cache/*
var/indexes/*
var/logs/*
var/db/*
var/uploads/*
!var/cache/.gitkeep
!var/indexes/.gitkeep
!var/logs/.gitkeep
!var/db/.gitkeep
!var/uploads/.gitkeep
.idea/
README.md
Makefile
.env
.env.*
.kube/
.travis.yml
.kube_secrets*
